Repository jwm4/platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt-check, go-vet, golangci-lint, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # ── General file hygiene ──────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # ── Python (ruff) ────────────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff-format
        files: ^(components/runners/|scripts/)
        types_or: [python]
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(components/runners/|scripts/)
        types_or: [python]

  # ── Go ───────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: gofmt-check
        name: gofmt
        entry: scripts/pre-commit/gofmt-check.sh
        language: script
        types: [go]
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: scripts/pre-commit/go-vet.sh
        language: script
        types: [go]
        pass_filenames: true
        require_serial: true

      - id: golangci-lint
        name: golangci-lint
        entry: scripts/pre-commit/golangci-lint.sh
        language: script
        types: [go]
        pass_filenames: true
        require_serial: true

  # ── Frontend (ESLint) ────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: scripts/pre-commit/eslint.sh
        language: script
        files: ^components/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true

  # ── Branch protection ────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: branch-protection
        name: branch protection
        entry: python3 scripts/git-hooks/pre-commit
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

      - id: push-protection
        name: push protection
        entry: python3 scripts/git-hooks/pre-push
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-push]

feat: add Unleash env vars to deployments and wire feature flags UI (#676)
  components/frontend/package-lock.json
  components/frontend/src/components/workspace-sections/feature-flags-section.tsx
  components/frontend/src/components/workspace-sections/feature-flags-settings.tsx
  components/frontend/src/components/workspace-sections/settings-section.tsx
  components/frontend/src/services/queries/use-feature-flags-admin.ts
  components/manifests/base/backend-deployment.yaml
  components/manifests/base/frontend-deployment.yaml
Due: eslint

refactor: use ambient-action in feedback loop via matrix strategy (#681)
  .github/workflows/feedback-loop.yml
  components/backend/handlers/sessions.go
  components/manifests/base/backend-deployment.yaml
  components/runners/claude-code-runner/ambient_runner/bridges/claude/bridge.py
  components/runners/claude-code-runner/ambient_runner/bridges/claude/corrections.py
  components/runners/claude-code-runner/tests/test_corrections_tool.py
  scripts/feedback-loop/query_corrections.py
  scripts/feedback-loop/test_query_corrections.py
Due: gofmt-check, go-vet, golangci-lint

feat: add CI failure resolver workflow (#689)
  .github/workflows/ci-failure-resolver-with-agent.yml
Due: none

fix(frontend): capture message timestamps at event time, not render time
  components/frontend/src/hooks/agui/__tests__/event-handlers.test.ts
  components/frontend/src/hooks/agui/event-handlers.ts
Due: eslint

fix(frontend): forward Authorization header for kind local dev, improve kind docs
  components/frontend/src/lib/auth.ts
  docs/developer/local-development/kind.md
Due: eslint

fix: add Authorization header in DISABLE_AUTH branch, drop NEXT_PUBLIC_E2E_TOKEN from docs
  components/frontend/src/lib/auth.ts
  docs/developer/local-development/kind.md
Due: eslint

chore: polish from review, fix SKILL.md, correct Vertex secret docs
  .claude/skills/dev-cluster/SKILL.md
  components/frontend/src/lib/auth.ts
  docs/developer/local-development/kind.md
Due: eslint
